* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    background: rgb(0, 0, 0);
    overflow: hidden;
  }
  
  .container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    .circle {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      background: rgba(138, 43, 226, 0.02);
      &:nth-of-type(1) {
        width: 100px;
        height: 90px;
        animation: rt 6s infinite linear;
        box-shadow: 0 0 1px 0 #0A4D68,
                    inset 0 0 10px 0 #0A4D68;
      }
      &:nth-of-type(2) {
        width: 90px;
        height: 100px;
        animation: rt 10s infinite linear;
        box-shadow: 0 0 1px 0 #088395,
                    inset 0 0 10px 0 #088395;
      }
      &:nth-of-type(3) {
        width: 105px;
        height: 95px;
        animation: rt 5s infinite linear;
        box-shadow: 0 0 1px 0 #05BFDB,
                    inset 0 0 10px 0 #05BFDB;
      }
      &:nth-of-type(4) {
        width: 95px;
        height: 105px;
        animation: rt 15s infinite linear;
        box-shadow: 0 0 1px 0 #00FFCA,
                    inset 0 0 10px 0 #00FFCA;
      }
    }
  }
  
  @keyframes rt {
    100% {
      transform: rotate(360deg);
    }
  }
  